{% extends "!layout.html" %}

{% block navbarmenu %}
<div id="navbarMenu" class="navbar-menu">
    <div class="navbar-end">
        <a class="navbar-item"
           href="https://raijin.ucar.edu/uxarray.html">UXarray</a>
        <a class="navbar-item"
           href="https://raijin.ucar.edu/team.html">Team</a>
        <a class="navbar-item"
           href="https://raijin.ucar.edu/contributing.html">Contributing</a>
        <a class="navbar-item"
           href="https://raijin.ucar.edu/about.html">About</a>
        <a class="navbar-item"
           href="https://raijin.ucar.edu/contact.html">Contact us</a>
        <a class="navbar-item" target="_blank" href="https://ncar.ucar.edu">
            <div class="logo-image"><img src="_static/images/logos/navbar/NSF-NCAR_Lockup-UCAR-Dark_102523.png" width="90"></div>
        </a>
        <a class="navbar-item" target="_blank" href="https://www.psu.edu/">
            <div class="logo-image"><img src="_static/images/logos/navbar/psu-mark.png" width="150" class="img-fluid"></div>
        </a>
        <a class="navbar-item" target="_blank" href="https://geocat.ucar.edu/">
            <div class="logo-image"><img src="_static/images/logos/navbar/GeoCAT_Final_Logos-03.png" width="120" class="img-fluid"></div>
        </a>
    </div>
</div>
{% endblock navbarmenu %}

{% block extrahead %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
            async
            src="https://www.googletagmanager.com/gtag/js?id=G-MJ1DPVF19V"
    ></script>
    <script>
        window.dataLayer = window.dataLayer || []
        function gtag() {
            dataLayer.push(arguments)
        }
        gtag('js', new Date())
        gtag('config', 'G-MJ1DPVF19V')
    </script>
    {{ super() }}
{% endblock %}

{% block extrafooter %}
<script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/cookie-bar/cookiebar-latest.min.js?theme=grey&tracking=1&thirdparty=1&always=1&hideDetailsBtn=1&showPolicyLink=1&privacyPage=https%3A%2F%2Fdocumatt.com%2Fabout%2Flegal%2Fprivacy%2F"></script>
{% endblock %}
